<table class="table">
  <div class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Ammount</th>
      </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let bid of bids">
    
        <td>{{bid.bidID}}</td>
        <td>{{bid.bidUserID}}</td>
        <td>{{bid.bidAmount}}</td>
      
    </tr>
  </tbody>
  
  </div>
  </table>
  BookID:
  <input name="BidID" id="BookID" type="number" value="1" [(ngModel)]="BidID"/>
  UserID:
  <input name="UserID" id="UserID" type="number" value="1" [(ngModel)]="UserID"/>
  Start Price:
  <input name="Price" id="Price" type="number" value="1" [(ngModel)]="Price"/>
  <button (click)="addBid()">add bid</button>