.box{
    border:solid;
    border-width: 1px;
    border-color: black;
   height :400px;
   font-size:26px
    
}
.box2{
    border:solid;
    border-width: 1px;
    border-color: black;
   height :600px;
   font-size:26px
    
}
.button{
    white-space: pre;
}
.padding{
    height: 10px;
}
