.bg {
    /* The image used */
    background-image: url("https://goodereader.com/blog/uploads/images/books-1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;
}
body{ min-height:100%; }
h1{
    color:white;
}
p{
    color:white;
}
label{
    color:white;
}
        