<form class="my-form" [formGroup]="form" (ngSubmit)="signup()">
  <div class="form-group">
    <label>Email </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="email" placeholder="Enter email">
  </div>
  <div class="form-group">
      <label>Password </label>
      <input type="password" class="form-control" id="password" aria-describedby="emailHelp" formControlName="password" placeholder="Enter Password">
    </div>
    <div class="form-group">
      <label>Name </label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" formControlName="name" placeholder="Enter Password">
    </div>

    <div class="forgot">
    <a href="reset.html">Forgot password?</a>
</div>
    <button (click)="signup()" class="btn btn-primary">Sign Up</button>